.thegrid {
  scroll-behavior: smooth;
}

.thegrid::-webkit-scrollbar {
  height: 12px;
  width: 8px;
}

.thegrid::-webkit-scrollbar-thumb,
.thegrid::-webkit-scrollbar-track {
  border-radius: 92px;
  -webkit-border-radius: 92px;
  -moz-border-radius: 92px;
  -ms-border-radius: 92px;
  -o-border-radius: 92px;

}

.thegrid::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
border: none !important;
  
}

.thegrid::-webkit-scrollbar-track {

  
}

.viewerGrid{
  scroll-behavior: smooth;
}

.viewerGrid::-webkit-scrollbar {
  height: 12px;
  width: 8px;

}



.viewerGrid::-webkit-scrollbar-thumb,
.viewerGrid::-webkit-scrollbar-track {
  border-radius: 92px;
  -webkit-border-radius: 92px;
  -moz-border-radius: 92px;
  -ms-border-radius: 92px;
  -o-border-radius: 92px;

}
.viewerGrid::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
border: none !important;
  
}

.customScrollBar::-webkit-scrollbar{
  height: 12px;
  width: 8px;
}


.customScrollBar::-webkit-scrollbar-thumb,
.customScrollBar::-webkit-scrollbar-track {
  border-radius: 92px;
  -webkit-border-radius: 92px;
  -moz-border-radius: 92px;
  -ms-border-radius: 92px;
  -o-border-radius: 92px;

}
.customScrollBar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
border: none !important;
  
}