.thegrid {

}

.thegrid::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.thegrid::-webkit-scrollbar-thumb,
.thegrid::-webkit-scrollbar-track {
  border-radius: 92px;
  -webkit-border-radius: 92px;
  -moz-border-radius: 92px;
  -ms-border-radius: 92px;
  -o-border-radius: 92px;

}

.thegrid::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  border: #131719 3px solid;
  
}

.thegrid::-webkit-scrollbar-track {
margin-top: 20px !important;
margin-bottom: 25px !important;
  
}